@page "/students"
@rendermode InteractiveServer

@attribute [StreamRendering]

@inject IGetStudentsUseCase GetStudentsUseCase
@inject NavigationManager Navigation
@inject IDeleteStudentUseCase DeleteStudentUseCase

<PageTitle>Students</PageTitle>

<link rel="stylesheet" href="css/tablePages.css?v=1.0" />

<div class="page-header">
    <div class="table-topic">Students</div>
    <button class="add-button" @onclick="AddStudent">
        +
    </button>
</div>

<br/>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Registration date</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Group</th>
                <th>Average score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.RegistrationDate</td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.GroupName</td>
                    <td>@student.AverageScore</td>
                    <td>
                        <button 
                            type="button" 
                            class="edit-button">
                            Edit
                        </button>
                        <button
                            type="button"
                            class="delete-button"
                            @onclick="() => DeleteStudent(student)">
                            Delete
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}

@code {
    private IEnumerable<Student>? students;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            students = await GetStudentsUseCase.ExecuteAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void AddStudent()
    {
        Navigation.NavigateTo("/add-student");
    }

    private async Task DeleteStudent(Student student)
    {
        await DeleteStudentUseCase.ExecuteAsync(student);
        students = await GetStudentsUseCase.ExecuteAsync();
    }
}